{% extends 'base.html' %} {% load staticfiles %} {% block base_content%}

<table class="catcontainer">
	<tbody>
		<tr>
			{% for category in categories %}
			<td>
				<div class="catimg" id="slide">
					<a title={{category.title}}
						href="{% url 'show_entries' category.name %}"><img
						class="catimg" src="{{category.image.url}}" /></a>
					<div class="caption">{{category.title}}</div>
				</div>
			</td> {% if not forloop.last and forloop.counter == 3 or forloop.counter == 6 %}
		</tr>
		<tr>{% endif %} {% endfor %}
		</tr>
	</tbody>
</table>
{% endblock %}
