body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-image: url("../media/uploads/background.jpg");
}

h1 {
	color: white;
	font-size: 52px;
	text-align: center;
	text-shadow: 4px 4px 4px #5a5a5a;
}

.searchbutton {
	color: #000000;
}

input[type="text"], textarea {
	background-color: #729fcf;
	padding: 3px 5px 3px 5px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	border-radius: 8px;
}

.searchinput {
	margin: 20px 0 0;
	color: #ffffff;
	float: right;
}

.entrytitle {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 1.5;
	word-break: normal;
	word-wrap: normal;
	background-color: rgba(0, 30, 50, 0.9);
	border: 5px solid #ccc;
	border-radius: 8px;
}

.entrysummary {
	font-size: 16px;
	font-color: #FFFFFF;
	font-style: italic;
}

.entry {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 17px;
	line-height: 1.5;
	color: #000000;
	word-break: normal;
	word-wrap: normal;
	background-color: rgba(161, 161, 161, 0.9);
	border: 1px solid #ccc;
	border-radius: 8px;
}

/* unvisited link */
a:link {
	color: #6363c7;
	text-decoration: none;
	text-shadow: 2px 2px 2px #626b6e;
}

#grad {
	background: -webkit-linear-gradient(gray, rgba(0, 0, 0, 0.6));
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(gray, rgba(0, 0, 0, 0.6));
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(gray, rgba(0, 0, 0, 0.6));
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(gray, rgba(0, 0, 0, 0.6));
	/* Standard syntax */
}

/* visited link */
a:visited {
	color: #6363c7;
	text-decoration: none;
	text-shadow: 2px 2px 2px #626b6e;
}

/* mouse over link */
a:hover {
	color: #1e90ff;
	text-decoration: none;
	text-shadow: 2px 2px 2px #add8e6;
}

/* selected link */
a:active {
	color: #008000;
	text-decoration: none;
	text-shadow: 2px 2px 2px #000;
}

.shady {
	background-color: rgba(0, 0, 0, 0.6);
}

.margin {
	display: inline-block;
	padding: 50px;
}

.catcontainer {
	border-style: hidden;
}

div.catimg {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

img.catimg {
	width: 50%;
	height: 50%;
	margin: 10px;
	border: 3px solid;
	border-radius: 25px;
	background: rgba(0, 0, 0, 0.5);
}

.solid {
	opacity: 1;
}

.caption {
	caption-side: bottom;
	font-size: 25px;
	text-align: bottom;
}

/*Animations*/
@
keyframes slide {from { margin-left:100%;
	width: 300%
}

to {
	margin-left: 0%;
	width: 100%;
}

}
#slide {
	padding: 5px 10px;
	animation-name: slide;
	animation-duration: 1s;
}