{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    &nbsp;&nbsp;&nbsp; Bu seferki Arduino örneğimiz, bileşen yönünden sade, ancak teori yönünden önemli bir örnek. Bu örnekte tek kullandığım bileşen bir potansiyometre, yani lisede gördüğümüz reosta benzeri bir aygıt olacak. Ancak potansiyometrenin restoadan farkı akımı değil, potansiyeli değiştirmesi. Aşağıda benim elimdeki pot'u görüyorsunuz.<br>
    <br>
    <div style="clear: both; text-align: center;">
      <a href="http://www.elektrodefter.com/static/images/2014/08/20140805_114504.jpg" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/08/20140805_114504.jpg" height="400" width="225" alt=""></a>
    </div>&nbsp;&nbsp;&nbsp; Görüldüğü gibi potumuzun 3 tane çıkışı var. Ortadaki çıkış sağ ve soldaki uçları güç kaynağına bağlarken ortadaki çıkış ise bizim düğmeyi çevirmemize bağlı olarak analog bir sinyal verecek ve bu sayede voltajı ayarlamış olacağız.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Kurulum çok kolay. Ortadaki ucu Arduino üzerindeki A0 ile A5 arasında numaralndırmış pinlerden birine, diğer uçları ise ister harici bir güç kaynağına, ister Arduinonun sağladığı güç kaynağı ve GND pinine bağlayın. Böylece siz düğmeyi çevirdikçe potansiyometreniz Arduino'ya farklı sinyaller gönderecektir. Peki bu sinyal değerini nasıl görürüz. İşte işin bu kısmında yazılım devreye giriyor.<br>
    <br>
    &nbsp;&nbsp; Burada incelememiz gereken yeni fonksiyonları ve kavramları aşağıda görelim.<br>
    <div style="clear: both; text-align: center;">
      <a href="http://www.elektrodefter.com/static/images/2014/08/20140805_145952.jpg" style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/08/20140805_145952.jpg" height="180" width="320" alt=""></a>
    </div><br>
    <br>
    <br>
    <br>
    &nbsp;&nbsp;&nbsp; <b>analogRead(int):</b> Bu fonksiyon analog pinini parametre olarak alır. Döndürdüğü değeri bir değişkene eşitleyebilir ve kullanabilirsiniz. Genellikle analog sensörlerden gelen sinyalleri okumak içindir. Mesela Arduinonuza bir termometre, potansiyometre, basınç ölçer, ışık sensörü gibi cihazları analog piniyle bağlayabilirsiniz.<br>
    <br>
    <br>
    <b>&nbsp;&nbsp;&nbsp; Serial.begin(int):</b>&nbsp; Bu fonksiyon, Arduino'ya veri göndermek ve Arduino'dan gelen verileri ekrana yazdırmak için bir serial konsol başlatır. Konsolun yenileme hızın parametre alır. Arduino'nuzdan anlamlı veri almak ve göndermek için aynı hıza ayarlamanız gerekir ki bu hız Arduino için 9600 değeridir. Başlattığınız konsolu görebilmek için Arduino IDE'den Tools -&gt; Serial Monitor yolunu izlemeniz gerekir. Bu sayede veri girip alabileceğiniz bir konsol gözükür.<br>
    <br>
    <b>&nbsp;&nbsp;&nbsp; Serial.print(char[])</b>:&nbsp; Tıpkı C dilinde ekrana String ya da char yazdırdığımız gibi Serial konsola yazdırmaya yarar. Serial.println(); komutu yazdırdıktan sonra alt satıra geçerken Serial.print(); geçmeyecektir.<br>
    <br>
    &nbsp;&nbsp;&nbsp; Bunları öğrendikten sonra kodlamaya geçebiliriz. Açıklamaları comment olarak yazdım.<br>
    <br>
    <br>
    <div style="clear: both; text-align: center;">
      <a href="http://www.elektrodefter.com/static/images/2014/08/Ekran-G-C3-B6r-C3-BCnt-C3-BCs-C3-BC-2014-08-05-15-01-20.png" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/08/Ekran-G-C3-B6r-C3-BCnt-C3-BCs-C3-BC-2014-08-05-15-01-20.png" height="186" width="320" alt=""></a>
    </div>
    <pre>
const int POT = A0;   //Girdi alacağımız pini tanımlıyoruz<br>int analogValue = 0;  //Değeri kaydedeceğimiz değişkeni oluşturduk<br><br>void setup() {<br>  Serial.begin(9600); //Serialimizi başlattık<br>}<br><br>void loop() {<br>  analogValue = analogRead(POT); //Okunan değeri değişkene atadık<br>  Serial.print("Deger: ");       //Aldığımız değeri<br>  Serial.println(analogValue);   //konsola yazdırdık<br>}
</pre>
  </body>
</html>

Yazılma Tarihi: 2014-08-05 12:08:00
{% endblock %}