{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <br>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Örneklerimize başlamadan önce Arduino için temel giriş bilgilerimizi verelim ki yaptıklarımız havada kalmasın. Öncelikle Arduino programlarımızı yazarken kullanacağımız dilden bahsedelim. Daha önce de dediğim gibi, Arduino C dilinin modifiye edilmiş bir versiyonunu kullanır. Arduino programlamak için en iyi ortam, Arduino'nun resmi IDE'sidir. Arduino IDE'yi şu linkten indirebilirsiniz:
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      Windows:
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <a href="http://arduino.googlecode.com/files/arduino-1.0.5-r2-windows.exe">http://arduino.googlecode.com/files/arduino-1.0.5-r2-windows.exe</a>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      Linux:
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      32 bit: <a href="http://arduino.googlecode.com/files/arduino-1.0.5-linux32.tgz">http://arduino.googlecode.com/files/arduino-1.0.5-linux32.tgz</a>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      64 bit: <a href="http://arduino.googlecode.com/files/arduino-1.0.5-linux64.tgz">http://arduino.googlecode.com/files/arduino-1.0.5-linux64.tgz</a>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Bu yükleme aynı zamanda gerekli sürücüleri de yükleyecektir. Programımızı çalıştırıp kod yazmaya başlayabiliriz.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Arduino programları 3 temel bölümden oluşur. Değişkenlerin ve tanımların yapıldığı kısım, setup() ve loop() kısmı. İlk kısım tıpkı C dilinde hatırladığımız gibi global değişkenleri, sabitleri ve preprocessor'leri yazdığımız yerdir.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Setup() fonksiyonu, Arduino'yu kullanıma hazırlamak için bir kerelik yapılması gereken ön işlemleri yapacağımız yerdir. Mesela Arduino'muza bağlı bileşenleri burada belirleriz. Arduino çalışmaya başladığında en başta bir kere bu kodlar işler.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Loop() fonksiyonu, C'deki main() gibidir. Asıl iş buradan yapılır, çoğu fonksiyon buradan çağırılır. Ancak bu fonksiyonun main()'den farkı, adı üzerinde bir loop (döngü) olarak çalışmasıdır. Yani siz Arduino'nun gücünü kesene kadar loop() içerisindeki kodlar tekrar tekrar işletilir.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Arduino'da işmizi kolaylarştıran bir çok öntanımlı fonksiyonlar ve kütüphaneler bulunur. Biz çoğunlukla bu fonksiyonları kullanacağız. Ben her yeni fonksiyon kullandığımda fonksiyonun ne işe yaradığını açıklayacağım.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Şimdi de işin donanım kısmına gelelim. Eğer bir Arduino'nuz varsa ki almanızı kesinlikle tavsiye ediyorum, 70-80 tl arası bir fiyatı var, onu bilgisayarınıza bağlamak için bağlantı kablosuna ihtiyacınız var. Bu kablo yazıcılarda da kulanılan bir bağlantı kablosudur, yazıcınız varsa uyma ihtimali yüksektir. Elinizde bu kablo yoksa da Arduino ile birlikte sipariş verebilirsiniz ancak unutmayın normalde arduino bu kablo ile birlikte gelmez. Hatta ilginizi çekerse içerisinde işinize yarayacak çeşitli bileşenleri bulunduran kitler de satılmaktadır. <a href="http://www.robotistan.com/">Robotistan</a> veya <a href="http://www.roboweb.net/">roboweb</a> sitelerinden güvenle alışveriş yapabilirsiniz.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp;
    </div>
    <table cellpadding="0" cellspacing="0" style="float: left; margin-right: 1em; text-align: left;">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a href="http://www.elektrodefter.com/static/images/2014/08/freeduino-20pinout_0.jpg" style="clear: left; margin-bottom: 1em; margin-left: auto; margin-right: auto;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/08/freeduino-20pinout_0.jpg" height="190" width="320" alt=""></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            Bir Freeduino örneği.
          </td>
        </tr>
      </tbody>
    </table>Bir de freeduino olayı var. Arduino açık kaynak bir ürün olduğu için tasarımlarını paylaşır. Bu da gerekli ilgi, bilgi ve sabra sahip herkes gereken bileşenleri alıp kendi Arduino'sunu yapabilir ve satabilir. Nitekim internette bir çok el yapımı Arduino türevi vardır ve genelde fiyatı daha uygundur. Ancak dikkat etmekte fayda var çünkü orijinal olmayan Arduino'nuzun çalışacağını kimse garanti edemez ve boş yere para kaybedebilirsiniz. Benim tavsiyem, eğer elektronikle çok ilgili biriyseniz ve uzun süre Arduino kullanmayı düşünüyorsanız orjinalden şaşmayın.<br>
    <table cellpadding="0" cellspacing="0" style="float: left; margin-right: 1em; text-align: left;">
      <tbody>
        <tr>
          <td style="text-align: center;">
            <a href="http://www.astanadigital.com/605-503-thickbox/usb-cable-a-b-for-arduino.jpg" style="clear: left; margin-bottom: 1em; margin-left: auto; margin-right: auto;"><img border="0" src="http://www.astanadigital.com/605-503-thickbox/usb-cable-a-b-for-arduino.jpg" height="200" width="200" alt=""></a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            Arduino bağlantı kablosu
          </td>
          <td style="text-align: center;">
            <br>
          </td>
          <td style="text-align: center;">
            <br>
          </td>
          <td style="text-align: center;">
            <br>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Malzemelerimiz tamam ise Arduino'muzu bilgisayarımıza bağlayabiliriz. Kartımızın üzerinde yanan ışıklar, cihaza güç gittiğini gösterir. Eğer cihaz hiç tepki vermediyse bağlantı kablosunda sorun olabilir. Farklı kablo deneyin ya da o kabloyu başka cihazla deneyip çalıştığına emin olun. Kabloda sorun yok ise Arduino'nuz bozuk olabilir.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;&nbsp;&nbsp; Arduino IDE'de yazdığımız programları ekranın sol üst köşesinde bulunan tik işaretli butona tıklayarak derleyibiliriz. Bu verify butonudur ve programınızın doğru bir biçimde derlendiğine emin olur. Hemen sağındaki upload butonu ise yazdığınız programı Arduino'ya yükler. Eğer her şeyi doğru yaptı iseniz programınız Arduino'ya yüklenecektir ve Arduino'nuz çalışmaya başlayacaktır.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      &nbsp;
    </div>
  </body>
</html>

Yazılma Tarihi: 2014-08-01 09:18:00
{% endblock %}