{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    &nbsp;&nbsp;&nbsp; Array'ler, boyutu sabit olan, birden fazla aynı türden değişkeni tek çatı altında toplayan ve bu değişkenleri index numarasına göre çağırmamıza izin veren, bir nevi liste görevi gören elemanlardır. Array tanımlamak son derece kolaydır. Tıpkı değişken tanımlar gibi yazarız ancak değişken isminin sonuna [] (köşeli parantez) ekleriz. Duruma göre parantezin içine arrayin boyutunu yazar ya da sonra belirlemek için boş bırakırız.<br>
    <br>
    <pre>
int array[];
</pre><br>
    &nbsp;&nbsp;&nbsp; Burada arrayin tipini int olarak belirledik böylece array sadece int tipinde değişkenler alabilir. İstersek arrayi tek seferde şöylece doldurabiliriz.<br>
    <br>
    <pre>
array[] = {5, 100, 5000};
</pre><br>
    &nbsp;&nbsp;&nbsp; Ya da baştan array boyutunu belirleyip sonradan elemanları tek tek ekleme yolunu da seçebiliriz.<br>
    <br>
    <pre>
int array2[3];<br>array2[0] = 3;<br>array2[1] = 5;
</pre><br>
    &nbsp;&nbsp;&nbsp; Arrayin ilk elemanının sırasının 0 olduğuna dikkat edin, ilk sırayı 1 olarak düşünüp ona göre davranmak sık yapılan bir hatadır. Ayrıca burada array elemanlarının nasıl çağırıldığını da gördünüz. array[numara] ifadesi arrayin numara + 1'inci elemanını belirtir. Array elemanlarını bir değişkene eşitlemekten korkmayın. Mesela:<br>
    <br>
    <pre>
int sayi = array[0];
</pre><br>
    &nbsp;&nbsp;&nbsp; Arrayler birden fazla boyutlu olabilir. Nasıl mı? Şöyle düşünün: {{{}, {}}, {}, {}}<br>
    &nbsp;&nbsp;&nbsp; Bakın arrayin elemanı da bir array olabilir. Bunu şu şekilde modellemek de faydalı olacaktır:<br>
    <br>
    <table border="1" cellpadding="4" cellspacing="0" style="width: 100%px;">
      <colgroup>
        <col width="85*">
        <col width="85*">
        <col width="85*">
      </colgroup>
      <tbody>
        <tr valign="top">
          <td width="33%">
            1
          </td>
          <td width="33%">
            2
          </td>
          <td width="33%">
            3
          </td>
        </tr>
        <tr valign="top">
          <td width="33%">
            1,1
          </td>
          <td width="33%">
            2,1
          </td>
          <td width="33%">
            3,1
          </td>
        </tr>
        <tr valign="top">
          <td width="33%">
            1,2
          </td>
          <td width="33%">
            2,2
          </td>
          <td width="33%">
            3,2
          </td>
        </tr>
      </tbody>
    </table><br>
    &nbsp;&nbsp;&nbsp; Bu array 2 boyutlu bir arrayi temsil eder. Bu arraye şu şekilde ulaşabiliriz: array[x][y]. Bu bize arrayin x. satır y. sütununu verir. Çok boyutlu array şu şekilde tanımlanır:<br>
    <br>
    <pre>
double array[x][y][z][t];
</pre>&nbsp;&nbsp;&nbsp;<br>
    &nbsp;&nbsp;&nbsp; Boyut sınırınız yoktur.<br>
    <br>
    <h3>
      &nbsp;&nbsp;&nbsp;&nbsp; Array'i Parametre Olarak Girme
    </h3>&nbsp;&nbsp;&nbsp; Arrayleri parametre olarak girme şansımız vardır. Bunu yaparken ister boyut belirtelim, ister belirtmeyelim farketmez:<br>
    <br>
    <pre>
void func(int arr[]){return;}
</pre><br>
    <br>
    <h3>
      &nbsp;&nbsp;&nbsp; String
    </h3>&nbsp;&nbsp;&nbsp; String'ler ile daha önce tanıştık ancak biraz üzerinde duralım. C dilinde string char array'inden başka bir şey değildir. String'in son elemanı \0 dır ancak biz bunu açıkça yazmak zorunda değiliz C bizim için bunu yazar. String örneklerini inceleyelim.<br>
    <br>
    <br>
    <pre>
char str[] = "Merhaba";<br>char str2[8] = {'M', 'e', 'r', 'h', 'a', 'b', 'a', '\0'};
</pre><br>
    &nbsp;&nbsp;&nbsp; Yukarıdaki iki string birbirinin eşdeğeridir. Aşağıya çeşitli string fonksiyonlarını kopyalıyorum ancak çevirmeye ihtiyaç duymadım çünkü kullanmadan bakınca zaten aklınızda kalmaz. İhtiyaç hissettikçe araştırıp kullanmanız gerekir.<br>
    <br>
    <br>
    <div style="clear: both; text-align: center;">
      <a href="http://www.elektrodefter.com/static/images/2014/08/str.png" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/08/str.png" height="290" width="640" alt=""></a>
    </div><br>
  </body>
</html>

Yazılma Tarihi: 2014-08-04 19:23:00
{% endblock %}