{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Ben gözümle görmediğime inanmam diyorsanız, artık jbox2d dünyasında olan olayları canlandırmann zamanı gelmiş demektir. Bu bölümde MVC'ye uymamı beklemeyin ancak mümkün oldukça arayüz ile diğer parçaları ayırmaya çalışacağım ki JavaFX kullanmasanız bile bu yazıdan faydalanabilesiniz. JBox2d ile ilgili önemli bir konu olan joint, yani birleşik cisimleri henüz kendim de bilmediğim için öğrendikten sonra yazacağım.<br>
    <br>
    Bu konuda kendi yaklaşımımla JBox elemanlarını sanallaştırıp otomatikleştireceğim. Bu yüzden öncelikle GameObject isimli sınıfımı paylaşıyorum. Bu sınıf objelerle ilgili metodları içerecek ve tüm cisimler bu sınıfı miras alacak:<br>
    <br>
    <br>
    <br>
    <pre>
import javafx.scene.paint.Color;<br>import javafx.scene.paint.Paint;<br>import javafx.scene.paint.PhongMaterial;<br>import javafx.stage.Screen;<br><br>import org.jbox2d.collision.shapes.Shape;<br>import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.Body;<br>import org.jbox2d.dynamics.BodyDef;<br>import org.jbox2d.dynamics.BodyType;<br>import org.jbox2d.dynamics.FixtureDef;<br>import javafx.application.ConditionalFeature;<br>import javafx.application.Platform;<br><br>/**<br> * @author bilal<br> *<br> */<br><br>public class GameObject {<br> <br>    protected Vec2 pos;<br>    protected float angle;<br>    protected Paint colour;<br>    protected BodyType type;<br>    protected BodyDef bd = new BodyDef();<br>    public Body body;<br>    public final static int SCREEN_WIDTH = (int) Screen.getPrimary().getBounds().getWidth();<br>    public final static int SCREEN_HEIGHT = (int) Screen.getPrimary().getBounds().getHeight();<br>    protected final static int RATIO = SCREEN_WIDTH;<br><br><br>    protected javafx.scene.shape.Shape shape2D;<br>    protected FixtureDef fd = new FixtureDef();<br>    protected javafx.scene.shape.Shape3D shape3D;<br>    protected PhongMaterial texture = new PhongMaterial();<br><br>    public GameObject(Vec2 p, Paint colour, BodyType t) {<br><br>     pos = p;<br>     this.colour = colour;<br>     angle = 0;<br>     texture.setDiffuseColor((Color) colour);<br><br>    }<br>    <br>    public BodyDef getBodyDef() {<br>     return bd;<br>    }<br>    <br>    public void setPos(Vec2 p) {<br>     pos.set(p.x, p.y);<br>    }<br>    <br>    public void rotate(float ang) {<br>     angle = ang;<br>     if (Platform.isSupported(ConditionalFeature.SCENE3D))<br>         shape3D.setRotate(-(angle*180)/Math.PI);<br>     else<br>      shape2D.setRotate(-(angle*180)/Math.PI);<br>    }<br>    <br>    <br>    public float getAngle() {<br>     return angle;<br>    }<br>    <br>    public Vec2 getPos() {<br>     return pos;<br>    }<br>    <br>    <br>    <br>    public Shape getShape() {return null;}<br><br><br> public javafx.scene.shape.Shape shape2D(){<br>  return shape2D;<br> }<br> <br> public javafx.scene.shape.Shape3D shape3D(){<br>  return shape3D;<br> }<br> <br> public Paint getColour() {<br>  return colour;<br> }<br> <br> <br> //Convert a JBox2D x coordinate to a JavaFX pixel x coordinate<br> public static float boxToJavaX(float posX) {<br>     float x = RATIO * posX / 100.0f;<br>     return x;<br> }<br>  <br> //Convert a JavaFX pixel x coordinate to a JBox2D x coordinate<br> public static float javaToBoxX(float posX) {<br>     float x = (posX * 100.0f)/RATIO;<br>     return x;<br> }<br>  <br> //Convert a JBox2D y coordinate to a JavaFX pixel y coordinate<br> public static float boxToJavaY(float posY) {<br>     float y = RATIO - 1f*RATIO * posY / 100.0f;<br>     return y;<br> }<br>  <br> //Convert a JavaFX pixel y coordinate to a JBox2D y coordinate<br> public static float javaToBoxY(float posY) {<br>     float y = 100.0f - ((posY * 100f) /RATIO) ;<br>     return y;<br> }<br>  <br> //Convert a pixel width to JBox2D width<br> public static float javaToBoxWidth(float width) {<br>     return 100f*width / (RATIO*2);<br> }<br>  <br> //Convert a pixel height to JBox2D height<br> public static float javaToBoxHeight(float height) {<br>     return 100.f*height/(RATIO*2);<br> }<br> <br> //Convert a pixel radius to JBox2D radius<br> public static float javaToBoxRadius(float radius) {<br>  return 100.f*radius/(RATIO);<br> }<br> <br> //Convert a pixel height to JBox2D height<br> public static float boxToJavaDistance(float dist) {<br>     return (RATIO * 2 * dist)/100f;<br> }<br> <br> //Convert a pixel radius to JBox2D radius<br> public static float boxToJavaRadius(float radius) {<br>  return (radius * RATIO) / 100f;<br> }<br><br><br><br>}
</pre><br>
    Bu sınıfı zaten gördüğünüz için geçiyorum. Şimdi de Dünyamızı depoladığımız sınıfa gelelim:<br>
    <br>
    <br>
    <pre>
import java.util.ArrayList;<br><br>import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.Body;<br>import org.jbox2d.dynamics.BodyDef;<br>import org.jbox2d.dynamics.World;<br><br>/**<br> * Basic world data<br> * @author bilal<br> *<br> */<br>public class WorldPhysica {<br><br> private final Vec2 GRAVITY = new Vec2(0.0f, -9.8f);<br> public static World world; <br> <br> public WorldPhysica() {<br>  world = new World(GRAVITY);<br>  world.setAllowSleep(true);<br> }<br> <br> public static Body createBody(BodyDef bd) {<br>  return world.createBody(bd);<br> }<br> <br> public void setGravity(Vec2 v){<br>  world.setGravity(v);<br> }<br> <br> public static World getWorld() {<br>  return world;<br> }<br> <br>}<br>
</pre><br>
    Bu sınıf da açıkçası çok bir iş yapmıyor, sadece en çok kullandığım metodları derleyip toparlıyor. Şimdi de çember ve dikdörtgen oluşturduğumuz sınıfları yapıştırıyorum:<br>
    <br>
    <br>
    <br>
    <pre>
import javafx.scene.paint.Paint;<br>import org.jbox2d.collision.shapes.CircleShape;<br>import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.BodyType;<br>import org.jbox2d.dynamics.FixtureDef;<br>import javafx.application.ConditionalFeature;<br>import javafx.application.Platform;<br><br><br>/**<br> * @author bilal<br> *<br> */<br>public class Circle extends GameObject {<br>    <br>    <br>    protected float radius;<br>    protected static CircleShape cs;<br>    <br>    public Circle(Vec2 p, float radius, Paint color, BodyType t){<br>     super(p , color, t);<br>     this.radius = radius;<br>     cs = new CircleShape();<br>        cs.m_radius = radius;  //We need to convert radius to JBox2D equivalent<br>     bd.type = t;<br>        bd.position.set(pos.x, pos.y);<br>        <br>        //Set the fixture for circle<br>        FixtureDef fd = new FixtureDef();<br>        fd.shape = cs;<br>        fd.restitution = 0.6f;<br>        fd.friction = 0.9f;<br>        fd.density = 0.8f;<br>        body = WorldPhysica.createBody(bd);<br> body.createFixture(fd);<br>        if (Platform.isSupported(ConditionalFeature.SCENE3D)) {<br>         shape3D = new javafx.scene.shape.Sphere(boxToJavaRadius(radius));<br>         shape3D.setMaterial(texture);<br>         shape3D.setTranslateZ(-90);<br>        }<br>        else {<br>         shape2D = new javafx.scene.shape.Circle(boxToJavaX(pos.x), boxToJavaY(pos.y), boxToJavaRadius(radius) );<br>         shape2D.setFill(colour);<br> }<br>    }<br>    <br>    @Override<br>    public void setPos(Vec2 p) {<br>     super.setPos(p);<br>     if (Platform.isSupported(ConditionalFeature.SCENE3D))<br>         shape3D.relocate(boxToJavaX(p.x)-boxToJavaRadius(radius), boxToJavaY(p.y)-boxToJavaRadius(radius));<br>     else<br>      shape2D.relocate(boxToJavaX(p.x)-boxToJavaRadius(radius), boxToJavaY(p.y)-boxToJavaRadius(radius));<br><br>    }<br> <br>}<br>
</pre><br>
    <pre>
import javafx.scene.paint.Paint;<br><br>import org.jbox2d.collision.shapes.PolygonShape;<br>import org.jbox2d.collision.shapes.Shape;<br>import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.BodyType;<br>import javafx.application.ConditionalFeature;<br>import javafx.application.Platform;<br><br><br>/**<br> * @author bilal<br> *<br> */<br>public class Rectangle extends GameObject {<br> <br> <br> protected float width;<br> <br> protected float length;<br> <br> protected PolygonShape rs;<br> <br> protected final float DEPTH = 100;<br> <br> public Rectangle(Vec2 p, float w, float l, Paint colour, BodyType t) {<br>  super(p, colour, t);<br>  <br>  width = w;<br>  length = l;<br>  rs = new PolygonShape();<br>  rs.setAsBox(width, length);<br>  bd.type = t;<br>                bd.position.set(pos.x, pos.y);<br>                body = WorldPhysica.createBody(bd);<br>                //create fixture<br>                fd.shape = rs;<br>                fd.density = 1f;<br>                fd.friction = 0.6f;<br>                fd.restitution = 0;<br>  body.createFixture(fd);<br>  if (Platform.isSupported(ConditionalFeature.SCENE3D)) {<br>   shape3D = new javafx.scene.shape.Box(boxToJavaDistance(width), boxToJavaDistance(length), DEPTH);<br>   shape3D.setTranslateZ(-100);<br>   shape3D.setMaterial(texture);<br>  }<br>  <br>  else {<br>   shape2D = new javafx.scene.shape.Rectangle(boxToJavaX(pos.x-width),boxToJavaY(pos.y - length), <br>     boxToJavaDistance(width), boxToJavaDistance(length));<br>   shape2D.setFill(colour);<br>  }<br>  <br><br> }<br> <br> @Override<br> public Shape getShape() {<br>  return new PolygonShape();<br> }<br> @Override<br>        public void setPos(Vec2 p) {<br>         super.setPos(p);<br>         if (Platform.isSupported(ConditionalFeature.SCENE3D))<br>         shape3D.relocate(boxToJavaX(p.x - width), boxToJavaY(p.y + length));<br>         else<br>      shape2D.relocate(boxToJavaX(p.x - width), boxToJavaY(p.y + length));<br><br>    }<br>}
</pre><br>
    Dikkat ederseniz bu sınıflarda mümkünse 3D, değilse 2D modeller kullanılıyor. Şimdi sırada dünyamızı kontrol eden WorldController sınıfı var:<br>
    <br>
    <br>
    <pre>
import java.util.ArrayList;<br><br>import org.jbox2d.dynamics.World;<br><br>/**<br> * @author bilal<br> *<br> */<br>public class WorldController  {<br><br> /* (non-Javadoc)<br>  * @see java.awt.event.ActionListener#actionPerformed(java.awt.event.ActionEvent)<br>  */<br> <br> private static ArrayList&lt;GameObject&gt; objects;<br> private static WorldPhysica world = new WorldPhysica();<br> <br> public WorldController() {<br>  objects = new ArrayList&lt;GameObject&gt;();<br> }<br> <br> <br> public static void addObject(GameObject obj) {<br>  objects.add(obj);<br> }<br> <br> public static void deleteObject(GameObject obj) {<br>  objects.remove(obj);<br> }<br> <br> public World getWorld() {<br>  return WorldPhysica.getWorld();<br> }<br> <br> public ArrayList&lt;GameObject&gt; getObjects() {<br>  return objects;<br> }<br><br> <br>}
</pre><br>
    Bu sınıf eklediğimiz objeleri JBox'a bağlı kalmadan manüpile etmemizi sağlıyor. Bu sayede daha basit bir biçimde cisimlerimize ulaşabiliriz.<br>
    <br>
    Bu noktada sahnemizdeki nesneleri konumlandıracağımız sınıf olan Sahne sınıfını eklemeliyiz.<br>
    <br>
    <br>
    <br>
    <pre>
import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.BodyType;<br>import javafx.scene.paint.Color;<br><br>/**<br> * @author bilal<br> *<br> */<br>public class Sahne {<br> <br> protected WorldController world;<br> private Rectangle rect;<br> private Rectangle rect2;<br> private Rectangle rect3;<br> private Circle cr2;<br> private Circle cr;<br><br> public Sahne() {<br>  world = new WorldController();<br><br>                cr = new Circle(new Vec2(50, 50), 2, Color.CYAN, BodyType.STATIC);<br>  rect = new Rectangle(new Vec2(20, 50), 15, 0.5f,Color.GRAY, BodyType.STATIC);<br>  rect3= new Rectangle(new Vec2(75, 50), 15, 0.5f,Color.GRAY, BodyType.STATIC);<br>                cr2 = new Circle(new Vec2(25, 70), 2 ,Color.RED, BodyType.DYNAMIC);<br>  rect2 = new Rectangle(new Vec2(49, 51), 15, 0.1f, Color.GREEN, BodyType.DYNAMIC);<br><br>  WorldController.addObject(cr);<br>  WorldController.addObject(cr2);<br>  WorldController.addObject(rect);<br>  WorldController.addObject(rect2);<br>  WorldController.addObject(rect3);<br> }<br> <br> <br> public WorldController getWorldController() <br> { <br>  return world; <br> }<br>}<br>
</pre><br>
    Gördüğünüz gibi WorldController sınıfımız sayesinde sahne oluşturmak son derece kolay. Şimdi de en can alıcı sınıfımız olan GameScene sınıfını oluşturalım:<br>
    <br>
    <br>
    <pre>
/**<br> * <br> */<br><br>import javafx.animation.KeyFrame;<br>import javafx.animation.Timeline;<br>import javafx.application.ConditionalFeature;<br>import javafx.application.Platform;<br>import javafx.scene.Group;<br>import javafx.scene.PerspectiveCamera;<br>import javafx.scene.PointLight;<br>import javafx.scene.SceneAntialiasing;<br>import javafx.scene.SubScene;<br><br>import javafx.scene.layout.GridPane;<br>import javafx.scene.layout.Pane;<br>import javafx.scene.paint.Color;<br>import javafx.scene.shape.Circle;<br>import javafx.scene.shape.StrokeLineJoin;<br>import javafx.util.Duration;;<br><br>/**<br> * @author bilal<br> *<br> */<br><br>public class GameScene extends Pane{<br> <br> private Sahne sahne;<br> private Pane gaming = new Pane();<br> Group objects = new Group();<br> <br> private Timeline timeline = new Timeline();<br> private PerspectiveCamera camera = new PerspectiveCamera();<br> private SubScene sub;<br><br> <br> public GameScene(Sahne st) {<br>  this.setCache(true);<br>  sub = new SubScene(gaming, GameObject.SCREEN_WIDTH, GameObject.SCREEN_HEIGHT, true, SceneAntialiasing.BALANCED);<br>  this.getChildren().add(sub);<br>  gaming.setId("gaming");<br><br>  //Not the javafx stage<br>  sahne = st;<br>  if (Platform.isSupported(ConditionalFeature.SCENE3D)) {<br>   set3DScene();<br>  }<br>  else {<br>   set2DScene();<br>  }<br>  PointLight light = new PointLight();<br>  light.setColor(Color.WHITE);<br>  <br>  light.relocate(GameObject.SCREEN_WIDTH/2, 0);<br>  light.setTranslateZ(-300);<br>  light.getScope().add(gaming);<br><br>  gaming.getChildren().add(light);<br>  sub.setCamera(camera);<br>                Duration duration = Duration.seconds(1.0/60.0);      <br>                KeyFrame frame = new KeyFrame(duration, new InGameController(this, sahne), null,null);<br>                timeline.setCycleCount(Timeline.INDEFINITE);<br>                timeline.getKeyFrames().add(frame);<br>                gaming.setPickOnBounds(false);<br><br>  gaming.getChildren().add(objects);<br><br>  timeline.playFromStart();<br> }<br> <br> public void set3DScene() {<br>  for (GameObject obj: sahne.getWorldController().getObjects()) {<br>   objects.getChildren().add(obj.shape3D());<br>  } <br>  <br> }<br> <br> public void set2DScene() {<br>  for (GameObject obj: sahne.getWorldController().getObjects()) {<br>   objects.getChildren().add(obj.shape2D());<br><br>  }<br>}<br>
</pre><br>
    Bu sınıf iki önemli iş yapıyor. Birincisi her saniyenin 1/60 lık kesiminde animasyonumuzu oynatıyor. Dikkat edin, KeyFrame metodunda InGameController isminde bir sınıfı parametre almış. Bu sınıfımızı az sonra oluşturacağız ve bu sınıf Jbox2d'den konum ve benzeri bilgileri almaya yarayacak. Diğer görevi ise sahnemizi oluşturmak ve gereken görüntü ayarlarını yapmak. Şimdi InGameController sınıfına geçelim.<br>
    <br>
    <br>
    <pre>
import javafx.event.Event;<br>import javafx.event.EventHandler;<br><br>/**<br> * @author bilal<br> *<br> */<br><br>public class InGameController implements EventHandler {<br> <br> private GameScene scene;<br> private Sahne sahne;<br><br> private float timeStep = 1.0f / 60.f;<br> private int velocityIterations = 8;<br> private int positionIterations = 3;<br><br><br> public InGameController(GameScene inGameScene, Sahne st)<br> {<br>  sahne = st;<br>  this.scene = inGameScene;<br><br> }<br> <br><br> // Simulates the world and checks for required conditions<br> @Override<br> public void handle(Event event) {<br><br>  // JBox2D calculations<br><br>  sahne.getWorldController().getWorld().step(timeStep, velocityIterations, positionIterations);<br>  for (GameObject obj: sahne.getWorldController().getObjects()) {<br>   obj.setPos(obj.body.getPosition());<br>   obj.rotate(obj.body.getAngle());<br>  }<br>  <br> }<br><br>}<br>
</pre><br>
    Bu sınıf aslında timeline'a parametre olarak verdiğimiz bir event handler sınıfı. Dolayısıyla handle() metoduna yazdığımız her kod saniyede 60 kere işletilecektir. Son olarak Main metodumuzu yazıp programımızı çalıştıralım:<br>
    <br>
    <br>
    <pre>
import java.io.IOException;<br><br>import javafx.application.Application;<br>import javafx.scene.input.KeyCombination;<br>import javafx.stage.Stage;<br>import javafx.scene.Scene;<br><br>public class Main extends Application {<br> <br><br> @Override<br> public void start(Stage primaryStage) throws Exception {<br>  Scene scn = new Scene(new GameScene(new Sahne()));<br><br>  primaryStage.setFullScreen(true);<br>  primaryStage.setFullScreenExitKeyCombination(KeyCombination.NO_MATCH);<br>  primaryStage.setTitle("Physica");<br>  primaryStage.setScene(scn);<br>  primaryStage.show();<br> }<br> <br> public static void main(String[] args) {launch(args);}<br>}<br>
</pre><br>
    Programımızı tam ekrana ayarlayıp gereken rutinleri yazdık. Programdan çıkmak için Alt+F4 kombinasyonunu kullanmanız yeterli. Eğer elinizde yoksa&nbsp;<a href="http://1drv.ms/1uOQ2kL">buradaki</a> linkten jbox2d için şu anki güncel .jar dosyasını indirin. Programımızı Windows üzerinde şu şekilde derleyebilirsiniz (Tüm sınıflar ve jar dosyası aynı yerde olmalı):<br>
    <br>
    <br>
    <pre>
javac -cp jbox2d-library-2.3.1-SNAPSHOT.jar; *.java
</pre><br>
    Ve şu şekilde de çalıştırabilirsiniz:<br>
    <br>
    <br>
    <pre>
java -cp jbox2d-library-2.3.1-SNAPSHOT.jar; Main
</pre><br>
    Eğer bir hata yapmadıysanız ya da ben kopyala yapıştır yaparken hata yapmadıysam programımız çalışmalı. Program bende tam olarak şu şekilde gözüküyor:<br>
    <br>
    <div style="clear: both; text-align: center;">
      <a href="http://www.elektrodefter.com/static/images/2014/09/blog-C3-B6rnek.png" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://www.elektrodefter.com/static/images/2014/09/blog-C3-B6rnek.png" height="360" width="640" alt=""></a>
    </div><br>
    Bu uzun yazıda hem JBox2d'yi nasıl uygulayacağımızı göstermek istedim, hem de gerektiği zaman kod örneği olarak kullanılabilecek bir kaynak olsun istedim. Bu yüzden işinize yarayan kısımları kopyala yapıştır yapmakta ya da değiştirmekte özgürsünüz. Yeni şeyler öğrendikçe paylaşmaya devam edeceğim.<br>
  </body>
</html>

Yazılma Tarihi: 2014-09-21 09:26:00
{% endblock %}