{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <br>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      Biz zaten preprocessor'lerden biriyle tanışmıştık. #include &lt;stdio.h&gt; yazmazsak çok kullandığımız printf() komutunu kullanamayız. Önişleçler (preprocessor), kodumuz çalıştırılmadan önce ortamı hazırlamak adına yapılan işlerdir. Preprocessorler şunlardır:
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#define</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#include</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#undef</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#ifdef</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#ifndef</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#if</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#else</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#elif</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#endif</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#error</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#pragma</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      Biz bunlardan sadece kullanacaklarımızı göreceğiz.
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#include</b>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      Bu işleç diğer dillerdeki import ile benzerdir. İki farklı görevi vardır.
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <pre>
#include &lt;stdio.h&gt;
</pre>
    </div>
    <pre>
#include “myheader.h”
</pre>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      İlk kod standart C kütüphanesindeki header modüllerini yüklememizi sağlar. Bu kütüphaneler printf gibi bir çok kullanışlı fonksiyonlar sağlarlar. Bir fonksiyona ihtiyacımız olduğunda öncelikli olarak internetten standart kütüphanede aradığımız işi yapan bir modül olup olmadığına bakarız. Eğer yoksa iki seçeneğimiz vardır, eğer başkası gereken modülü yazmışsa onu indirip kaynak kodumuzla aynı yere koyarız, o da yok ise kendimiz ayrı bir dosyaya bu fonksiyonları yazarız. Her iki durumda da ikinci preprocessor yardımıyla modülümüzü içeririz.
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#define, #undefine</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      Var olan bir constant'ı değiştirmek için önce #undef kullanarak kaldırır, sonra #define olarak tekrar tanımlarız. Sabit oluşturmak için #define kullandığımızı görmüştük:
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
      <pre>
#undefine BOYUT<br>#define BOYUT  = 128
</pre><br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>#ifndef, #ifdef, #endif</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      #ifndef -&gt; if not defined
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      #ifdef -&gt; if defined olarak kodlayın
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      #endif -&gt; bloğu bitir
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <pre>
#ifndef BOYUT<br> #define BOYUT = 32<br>#endif
</pre><br>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      Eğer BOYUT tanımlı değilse 32 olarak tanımla.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <pre>
#ifdef BOYUT<br> #undefine BOYUT<br>#endif
</pre><br>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      Eğer BOYUT tanımlı ise tanımı kaldır.
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      #endif şartın bittiğini belirtir (if'deki süslü parantezler gibi).
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <b>Macro Tanımlama</b>
    </div>
    <div style="line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      Macrolar fonksiyonlara benzer ancak preprocessor gibi tanımlanır. İnceleyelim:
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <pre>
#define message_for(a, b) <br> printf(#a " and " #b ": We love you!n")
</pre>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      <br>
    </div>
    <div style="font-weight: normal; line-height: 100%; margin-bottom: 0cm;">
      Uzun satırlarda “” kullanarak alt satıra geçeriz. Parametreleri string sabiti yapmak için ise başlarına diyez (#) koyarız.
    </div>
  </body>
</html>

Yazılma Tarihi: 2014-07-29 19:05:00
{% endblock %}