{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Geçen yazıda programımızı oluşturduk, şimdiyse geriye bu programı Basys2'ye kodlamak kaldı. Bunu yapmak için öncelikle "constraints" dosyası oluşturmamız gerekiyor. Bu dosya kabaca FPGA'in input ve outputlar için kullanacağı portları belirtmeye yarıyor. Projemizin "Top Module", yani en yukarıdaki ana dosyasına sağ tıklayıp yeni kaynak ekleyelim. Bu sefer kaynağımızın türü "Implementation Constraints File". [caption id="attachment_84" align="aligncenter" width="627"]<a href="http://www.elektrodefter.com/static/images/ucffile.png"><img class="size-full wp-image-84" src="http://www.elektrodefter.com/static/images/ucffile.png" alt="UCF dosyası ekleme ekranı" width="627" height="507"></a> UCF dosyası ekleme ekranı[/caption] Dosyayı oluşturduktan sonra örnek dosyayı kullanarak gereken portları bu dosyaya kopyalamamız gerekiyor. Tabi ki gerekli yerleri, yani input ve output isimlerini değiştirerek. Örnek dosyayı veriyorum: &nbsp;
    <pre>
# This file is a general .ucf for Basys2 rev C board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# clock pin for Basys2 Board
NET "mclk" LOC = "B8"; # Bank = 0, Signal name = MCLK
NET "uclk" LOC = "M6"; # Bank = 2, Signal name = UCLK
NET "mclk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "uclk" CLOCK_DEDICATED_ROUTE = FALSE;

# Pin assignment for EppCtl
# Connected to Basys2 onBoard USB controller
NET "EppAstb" LOC = "F2"; # Bank = 3
NET "EppDstb" LOC = "F1"; # Bank = 3
NET "EppWR"       LOC = "C2"; # Bank = 3

NET "EppWait" LOC = "D2"; # Bank = 3

NET "EppDB&lt;0&gt;" LOC = "N2"; # Bank = 2
NET "EppDB&lt;1&gt;" LOC = "M2"; # Bank = 2
NET "EppDB&lt;2&gt;" LOC = "M1"; # Bank = 3
NET "EppDB&lt;3&gt;" LOC = "L1"; # Bank = 3
NET "EppDB&lt;4&gt;" LOC = "L2"; # Bank = 3
NET "EppDB&lt;5&gt;" LOC = "H2"; # Bank = 3
NET "EppDB&lt;6&gt;" LOC = "H1"; # Bank = 3
NET "EppDB&lt;7&gt;" LOC = "H3"; # Bank = 3

# Pin assignment for DispCtl
# Connected to Basys2 onBoard 7seg display
NET "seg&lt;0&gt;" LOC = "L14"; # Bank = 1, Signal name = CA
NET "seg&lt;1&gt;" LOC = "H12"; # Bank = 1, Signal name = CB
NET "seg&lt;2&gt;" LOC = "N14"; # Bank = 1, Signal name = CC
NET "seg&lt;3&gt;" LOC = "N11"; # Bank = 2, Signal name = CD
NET "seg&lt;4&gt;" LOC = "P12"; # Bank = 2, Signal name = CE
NET "seg&lt;5&gt;" LOC = "L13"; # Bank = 1, Signal name = CF
NET "seg&lt;6&gt;" LOC = "M12"; # Bank = 1, Signal name = CG
NET "dp" LOC = "N13"; # Bank = 1, Signal name = DP

NET "an&lt;3&gt;" LOC = "K14"; # Bank = 1, Signal name = AN3
NET "an&lt;2&gt;" LOC = "M13"; # Bank = 1, Signal name = AN2
NET "an&lt;1&gt;" LOC = "J12"; # Bank = 1, Signal name = AN1
NET "an&lt;0&gt;" LOC = "F12"; # Bank = 1, Signal name = AN0

# Pin assignment for LEDs
NET "Led&lt;7&gt;" LOC = "G1" ; # Bank = 3, Signal name = LD7
NET "Led&lt;6&gt;" LOC = "P4" ; # Bank = 2, Signal name = LD6
NET "Led&lt;5&gt;" LOC = "N4" ;  # Bank = 2, Signal name = LD5
NET "Led&lt;4&gt;" LOC = "N5" ;  # Bank = 2, Signal name = LD4
NET "Led&lt;3&gt;" LOC = "P6" ; # Bank = 2, Signal name = LD3
NET "Led&lt;2&gt;" LOC = "P7" ; # Bank = 3, Signal name = LD2
NET "Led&lt;1&gt;" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "Led&lt;0&gt;" LOC = "M5" ;  # Bank = 2, Signal name = LD0

# Pin assignment for SWs
NET "sw&lt;7&gt;" LOC = "N3";  # Bank = 2, Signal name = SW7
NET "sw&lt;6&gt;" LOC = "E2";  # Bank = 3, Signal name = SW6
NET "sw&lt;5&gt;" LOC = "F3";  # Bank = 3, Signal name = SW5
NET "sw&lt;4&gt;" LOC = "G3";  # Bank = 3, Signal name = SW4
NET "sw&lt;3&gt;" LOC = "B4";  # Bank = 3, Signal name = SW3
NET "sw&lt;2&gt;" LOC = "K3";  # Bank = 3, Signal name = SW2
NET "sw&lt;1&gt;" LOC = "L3";  # Bank = 3, Signal name = SW1
NET "sw&lt;0&gt;" LOC = "P11";  # Bank = 2, Signal name = SW0

NET "btn&lt;3&gt;" LOC = "A7";  # Bank = 1, Signal name = BTN3
NET "btn&lt;2&gt;" LOC = "M4";  # Bank = 0, Signal name = BTN2
NET "btn&lt;1&gt;" LOC = "C11"; # Bank = 2, Signal name = BTN1
NET "btn&lt;0&gt;" LOC = "G12"; # Bank = 0, Signal name = BTN0

# Loop back/demo signals
# Pin assignment for PS2
NET "PS2C"    LOC = "B1"   | DRIVE = 2  | PULLUP ; # Bank = 3, Signal name = PS2C
NET "PS2D"    LOC = "C3"   | DRIVE = 2  | PULLUP ; # Bank = 3, Signal name = PS2D

# Pin assignment for VGA
NET "HSYNC"   LOC = "J14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = HSYNC
NET "VSYNC"   LOC = "K13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = VSYNC

NET "OutRed&lt;2&gt;"  LOC = "F13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED2
NET "OutRed&lt;1&gt;"  LOC = "D13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED1
NET "OutRed&lt;0&gt;"  LOC = "C14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED0
NET "OutGreen&lt;2&gt;"  LOC = "G14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN2
NET "OutGreen&lt;1&gt;"  LOC = "G13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN1
NET "OutGreen&lt;0&gt;"  LOC = "F14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN0
NET "OutBlue&lt;2&gt;"  LOC = "J13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = BLU2
NET "OutBlue&lt;1&gt;"  LOC = "H13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = BLU1

# Loop Back only tested signals
NET "PIO&lt;72&gt;" LOC = "B2"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JA1
NET "PIO&lt;73&gt;" LOC = "A3"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JA2
NET "PIO&lt;74&gt;" LOC = "J3"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JA3
NET "PIO&lt;75&gt;" LOC = "B5"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JA4

NET "PIO&lt;76&gt;" LOC = "C6"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JB1
NET "PIO&lt;77&gt;" LOC = "B6"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JB2
NET "PIO&lt;78&gt;" LOC = "C5"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JB3
NET "PIO&lt;79&gt;" LOC = "B7"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JB4

NET "PIO&lt;80&gt;" LOC = "A9"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JC1
NET "PIO&lt;81&gt;" LOC = "B9"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JC2
NET "PIO&lt;82&gt;" LOC = "A10" | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JC3
NET "PIO&lt;83&gt;" LOC = "C9"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JC4

NET "PIO&lt;84&gt;" LOC = "C12"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JD1
NET "PIO&lt;85&gt;" LOC = "A13"  | DRIVE = 2  | PULLUP ; # Bank = 2, Signal name = JD2
NET "PIO&lt;86&gt;" LOC = "C13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = JD3
NET "PIO&lt;87&gt;" LOC = "D12"  | DRIVE = 2  | PULLUP ; # Bank = 2, Signal name = JD4
</pre>Biz şimdilik sadece ledleri ve switchleri kullanacağız. 8 input ve 5 outputumuz olduğuna göre 8 switch ve 5 led gerekiyor. Gereken sayıda bileşeni kopyalayalım ve isimlerini değiştirelim:
    <pre>
# Pin assignment for LEDs
NET "C_O" LOC = "n5" ;
NET "T3" LOC = "p6" ;
NET "T2" LOC = "p7" ;
NET "T1" LOC = "m11" ;
NET "T0" LOC = "m5" ;

# Pin assignment for slide switches
NET "X3" LOC = "n3";
NET "X2" LOC = "e2";
NET "X1" LOC = "f3";
NET "X0" LOC = "g3";
NET "Y3" LOC = "b4";
NET "Y2" LOC = "k3";
NET "Y1" LOC = "l3";
NET "Y0" LOC = "p11";
</pre>Burada ne yaptığımızı anlamak için bu kodlardan bir tanesini parçalayalım. NET "X3", bize hangi portta olduğumuzu söylüyor. Yani şu an X3 isimli portla işlem yapıyoruz. LOC = "n3" ise portun Basys2 üzerindeki yerini, yani "location" belirtiyor. Bu lokasyonlar Basys2 kartının üzerinde de yazar ya da yukarda paylaştığım, Digilent'in sitesinden aldığım şablonu kullanabilirsiniz. <a href="http://www.elektrodefter.com/static/images/syntesize.png"><img class=" size-full wp-image-87 alignleft" src="http://www.elektrodefter.com/static/images/syntesize.png" alt="syntesize" width="312" height="519"></a> Portlarımızı yazdığımıza göre, kodu derleyebiliriz. Ana dosyamıza bir kere tıklayarak alt taraftaki seçeneklerimizi görünür hale getirelim. "Generate Programming File" seçeneğine çift tıklayarak işlemin tamamlanmasını bekleyelim. Eğer işlem başarıyla tamamlandıysa üstteki üç seçenekte de yeşil tik olmasını bekleriz. Duruma göre sarı bir ikaz işareti de çıkabilirdi, bu dosyamızda bir sorun olduğunu ancak bu sorunun ölümcül olmadığını belirtir. Eğer işlem yarıda kesilir ve kırmızı bir çarpı görürseniz, bir hata yapmışsınız demektir. Yaptığınız işlemleri tekrar kontrol edin. Altta gözüken hata mesajını okuyarak sorunu anlamaya çalışın. Her şey yolunda gittiyse, projenizi kaydettiğiniz yerde dortbitadder.bit isimli bir dosya oluşacak. Bu dosya Basys2'ye yazılmaya hazır olan dosyamız. Şimdi sırada bu dosyayı yazacak programı kullanmak var. Bu konuda iki seçenek var. Birincisi Digilent'in Adept uygulamasını kullanmak. Eğer Windows kullanıcısı iseniz bu işlem gayet kolay. Fakat Linux kullanıyorsanız, kullanıcı arayüzünden mahrumsunuz. Üstelik ben komut satırı uygulamasıyla da sorunlar yaşadım. O yüzden ben ikinci yolu tercih edeceğim. Bunun için ufak bir program yüklemek gerekiyor. <a href="http://www.digilentinc.com/Products/Detail.cfm?NavPath=2,66,768&amp;Prod=DIGILENT-PLUGIN">Buradaki linkten</a> gerekli plug-in'i indirip yükleyin. İndirdiğiniz dosyaları <code>&lt;Xilinx_DS_Path&gt;/ISE/lib/lin64/plugins/Digilent/libCseDigilent/</code> dosyasına kopyalamanız yeterli. &lt;Xilinx_DS_Path&gt; şeklinde geçen yer Xilinx kurulumunuzun olduğu yerdir. Eğer gerekli Adept uygulamaları da yüklüyse artık hazırsınız demektir. Soldaki resimde "Configure Target Device" seçeneğine çift tıklayın. Bu, Impact isimli programımızı başlatacaktır. Basys2'nin bilgisayara bağlı olduğundan emin olun. Gelen pencerede sol paneldeki "Boundary Scan" seçeneğine tıklayın. Boş alanın değiştiğini göreceksiniz. Boş alana sağ tıklayıp "Initialize Chain" seçeneğini tıklayın. Gelen uyarıya "No", sonraki ekrana "Ok" diyip devam edin. İki tane&nbsp; cihaz göreceksiniz. Bu cihazlardan ikincisi cihazın ROM'u, bunu şimdilik kullanmayacağız. İlki bizi ilgilendiriyor. Eğer bunun yerine "cable not found" tarzı bir uyarı alırsanız, ya Basys2 takılı değil ya da gerekli sürücüler yüklü değil. İlk cihaza çift tıklayıp bit dosyasını seçin. Size tekrar ROM'a yazayım mı diye soracak, hayır diyin. İlk cihazı tekrar seçip sol paneldeki "Program" seçeneğini seçin. Gelen pencereye Ok diyin. Biraz bekledikten sonra "Program Succeeded"&nbsp; yazısını gördüyseniz, tebrikler, ilk programınızı Basys2'ye yazdınız. Switchlerle oynayarak programınızın nasıl çalıştığını, Basys2'nin nasıl davrandığını anlamaya çalışın. &nbsp; &nbsp; <a href="http://www.elektrodefter.com/static/images/succeed.png"><img class="aligncenter wp-image-88" src="http://www.elektrodefter.com/static/images/succeed-1024x557.png" alt="succeed" width="800" height="435"></a> &nbsp; <a href="http://www.elektrodefter.com/static/images/basys.jpg"><img class="aligncenter size-full wp-image-89" src="http://www.elektrodefter.com/static/images/basys.jpg" alt="basys" width="800" height="450"></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </body>
</html>

Yazılma Tarihi: 2015-01-24 18:13:41
{% endblock %}