{% extends 'base.html' %} 
{% load staticfiles %} 
{% load codecolor_filter %} 
{% block base_content %}
<link rel="stylesheet" type="text/css" href="{% static "/static/css/pygments-colorful.css" %}">

<div class='entry'>
	<h1>{{entry.title}}</h1>
</div>
<br>
<div class='entry'>{% autoescape off %} {{ entry.content | pygmentify}}{% endautoescape %}</div>
<br>
<br>
<div class='entry'>
	<span style="float: left"><font color="blue">Oluşturulma Tarihi:</font> {{entry.time_created}}</span> <span style="float: right">
	<font color="blue">Yazar:</font> {{entry.written_by}}</span>
</div>
{% endblock %}
