{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <code>#include int main() { /* C'deki ilk programım */ printf("Merhaba, Dünya! n"); return 0; }</code> Yukarıda gördüğünüz C dili için bir "Merhaba, Dünya!" örneği. Derleyip çalıştırdığınızda&nbsp; ekrana "Merhaba, Dünya!" yazdıracağını göreceksiniz. İleride bu kodların ne işe yaradığını göreceğiz. Ama öncelikle programımızı nasıl çalıştıracağımızı öğrenelim. Yukarıdaki kodu kopyalayıp metin editörümüze yapıştıralım. Sonra da bir isim verip .c uzantısıyla kaydedelim, mesela "merhaba.c". Sonra bu dosyayı kaydettiğimiz klasöre gidip o konumda bir terminal açalım. Windows kullanıcıları bunu o klasörün içerisinde Shift + Sağ Tık kombinasyonundan burada terminal aç seçeneğini seçerek yapabilirler. Terminalimiz açıldığında şu komutu girelim:
    <pre>
 &gt;gcc merhaba.c
</pre>Şimdi aynı klasörde "a.out" isimli bir dosya oluştuğunu göreceksiniz. Çıktı için dosya ismi vermediğimizden dolayı derleyicimiz otomatik olarak bu ismi verdi. Eğer çıktı dosyanızın ismini kendiniz vermek isterseniz, yukarıdaki komutun devamına "-o dosyaadı" eklemeniz gerekiyor.
    <pre>
 &gt;gcc merhaba.c -o merhaba.exe
</pre>Programımızı çalıştırmak için, bir windows kullanıcısı iseniz yeni oluşturulan dosyanın ismini yazıp Enter'a basmanız yeterli. Eğer benim gibi Linux kullanıyorsanız ./dosyaadı yazmanız gerekiyor. Ekranda "Merhaba, Dünya!" yazdığını gördüyseniz, artık kendi programlarınızı derleyip çalıştırabilirsiniz demektir. Sonraki yazımda C diliyle ilgili terimler ve dilin yapısını incelemeyi düşünüyorum. Bu yazılarımda kaynak olarak tutorialspoint.com' dan bulduğum bir pdf kitabı kullanacağım. İncelemek isteyenler <a href="http://phy.ntnu.edu.tw/~cchen/pdf/ctutor.pdf">bu adresten</a> pdf'yi indirebilir.
  </body>
</html>

Yazılma Tarihi: 2014-07-18 10:01:00
{% endblock %}