{% extends 'entrysystem/entrywrapper.html' %}
{% load staticfiles %}
{% block entryblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    Nesne oluşturmayı iki bölüme ayırabiliriz. Nesnenin özelliklerini belirleme ve bu nesneyi geçtiğimiz yazı içerisindeki gibi dünyamıza ekleme. Nesne oluşturmayı da fikstür tanımlama ve nesnenin uzaya bağlı konum, hacim, şekil gibi özelliklerini tanımlama olarak ikiye ayırabiliriz. Öncelikle Şekillerimizi içeren "org.jbox2d.collision.shapes" paketinin içeriğini gözlemleyelim:<br>
    <br>
    PolygonShape<br>
    ChainShape<br>
    CircleShape<br>
    EdgeShape<br>
    <br>
    Basitçe şekillerimizi inceleyelim.<br>
    <br>
    <h4>
      CircleShape
    </h4>Aşağıda, kendi projemden aldığım sınıfı inceleyelim:<br>
    <br>
    <pre>
import org.jbox2d.collision.shapes.CircleShape;<br>import org.jbox2d.common.Vec2;<br>import org.jbox2d.dynamics.BodyType;<br>import org.jbox2d.dynamics.FixtureDef;<br><br>public class Circle {<br><br>    World world = new World(new Vec2(0. -9.8f));<br>    protected float radius;<br>    protected static CircleShape cs;<br>    protected BodyType type;<br>    protected BodyDef bd = new BodyDef();<br>    public Body body;<br>    <br>    public Circle(Vec2 p, float radius){<br>        this.radius = radius;<br>        cs = new CircleShape();<br>        cs.m_radius = radius;  <br>        bd.type = BodyType.DYNAMIC;<br>        bd.position.set(p.x, p.y);<br>        <br>        //Fikstürü tanımlayalım<br>        FixtureDef fd = new FixtureDef();<br>        fd.shape = cs;<br>        fd.restitution = 0.6f;<br>        fd.friction = 0.9f;<br>        fd.density = 0.8f;<br>        body = world.createBody(bd);<br>        body.createFixture(fd);<br>        //....Devamı şimdilik bizi ilgilendirmiyor<br>    }<br>}
</pre><br>
    Kodu açıklayalım. Öncelikle cs = new CircleShape(); kodu ile bir çember oluşturduk. Bu çemberin yarıçapını cs.m_radius değeri yoluyla atadık. Yukarıda gördüğünüz gibi bd isimli bir BodyDef&nbsp; değişkeni oluşturduk. BodyDef sınıfı, cismimizin uzaysal özelliklerini belirler. Bu kısım önemli. bd.type değerine bir BodyType değeri atadık. JBox2D 3 tane BodyType belirler, kısaca bunları görelim.<br>
    <br>
    <b>BodyType.DYNAMIC</b><br>
    <br>
    Dinamik cisimler, fizik kurallarına uyan normal cisimlerdir, belli bir kütleleri vardır, kuvvet uygulayınca hareket eder vs. Serbest bir biçimde hareket etmesini istediğiniz cisimler bunlardır.<br>
    <br>
    <br>
    <b>BodyType.STATIC</b><br>
    <br>
    Statik cisimler, hareketsiz cisimlerdir. Teorik olarak kütleleri sonsuzdur, bu yüzden uygulanan momentumu aynen iade eder.&nbsp; Yer çekimine uymadığı için düşmez. Pozisyonlarının simülasyon sırasında zorla değiştirilmesi sağlıklı değildir. Duvar ya da yer oluşturmak için birebirdir.<br>
    <br>
    <b>BodyType.KINEMATIC</b><br>
    <br>
    Statik cisimlerin manuel olarak hareket ettirilebilen halidir. Statik cisimlerden tek farkı, siz belli bir hız, çizgisel ya da açısal momentum verdiğinizde hareket eder, ancak kütlesi sonsuz olduğundan kendisiyle etkileşen cisimlerden etkilenmez. Oyunlarda karşılaştığınız hareketli platformları hatırlayın, işte onlar bunlardır.<br>
    <br>
    Tekrar kodumuza dönelim. Biz bd.type değerimizi DYNAMIC olarak ayarladık. Böylece topumuz serbestçe hareket edecek. Ardından bd.position.set() yardımıyla da topun pozisyonunu belirledik.<br>
    <br>
    Şimdi ikinci önemli kısım olan Fixture kısmına geçelim. Öncelikle FixtureDef() yardımıyla bir fikstür tanımladık. Ve fd.shape değerine az önce oluşturduğumuz şekli atadık. Bunu yapmamızın sebebi, JBox 'ın bizim için bir çok şeyi otomatik olarak ayarlaması. Böylece eylemsizlik momenti, kütle gibi ileri fizik konularıyla başınızı ağrıtmanıza gerek kalmayacak.<br>
    <br>
    Ardarda belirlediğimiz 3 değeri inceleyelim. Restitution, esneklik demektir. Friction sürtünme, density de yoğunluk. Bu üç değer 0 ile 1 arası değer alırlar. Nesnelerin hangi değerlerde nasıl davranacağını kestirmek zor olduğu için deneme yanılma yoluyla belirlersiniz ki göreceksiniz bu değerlerle oynamak gayet zevkli bir iş.<br>
    <br>
    Son işlem tanıdık değil mi. Daha önce de gördüğümüz World.createBody(BodyDef), bir Body döndürür. Bu değeri bir değişkene atadık ki manipüle edebilelim. Ancak bunu yapmak yeterli değil. Bir de body.createFixture(FixtureDef) yoluyla fikstürümüzü cisme bağladık. Artık simüle ettiğimizde özgürce süzülen bir topumuz var!<br>
    <br>
    <h4>
      PolygonShape
    </h4>PolygonShape, genel amaçlı şekil oluşturmayı sağlar. İçerisinde hazır olarak dikdörtgen bulundurduğu gibi, sıfırdan kendi şekillerinizi de oluşturabilirsiniz. Yukarıdaki ayrıntıları atlayıp kısaca farklılıkları görelim:<br>
    <br>
    <br>
    <br>
    <br>
    <pre>
PolygonShape dikdortgen = new PolygonShape();<br>dikdortgen.setAsBox(100, 100);<br>Vec2 koseler[5];<br>koseler[0]= new Vec2(-1,  2);<br>koseler[1]= new Vec2(-1,  0);<br>koseler[2]= new Vec2( 0, -3);<br>koseler[3]= new Vec2( 1,  0);<br>koseler[4]= new Vec2( 1,  1);<br>PolygonShape sekil = new PolygonShape();<br>sekil.set(koseler, 5);
</pre><br>
    Dikdörtgen kısmı gayet anlaşılır sanırım. PolygonShape 'i setAsBox, yani kutu olarak ayarla metoduyla dikdörtgene çevirdik, parametreler de sırasıyla en ve boy idi. Diğer şekil ise önemli. Öncelikle köşe koordinatlarını belirleyeceğimiz koseler isimli array oluşturduk ve tek tek köşeleri vektörel olarak girdik. Oluşacak cisim, bu koordinatları birleştirdiğinizde oluşan cisimdir. Ardından sekil isimli PolygonShape'e .set(Vec2[], int) metodu yardımıyla önce koseler arrayimizi, sonra da köşe sayımızı verdik. Bu sayede şeklimiz oluştu. Geri kalan tüm basamaklar, tıpkı CircleShape'te yaptığımız gibi.<br>
    <br>
    <h4>
      EdgeShape
    </h4>Bu şekli hızlı geçeceğim çünkü ben pek kullanmadım. Bu şekil bir çizgidir. yani eni yoktur. Cisimleri bağlamak için ya da çerçeve tarzı şeyler oluşturmak için kullanabilirsiniz. PolygonShape() e benzer bir biçimde tanımlanır.<br>
    <br>
    <h4>
      ChainShape
    </h4>Aynı şekilde henüz ChainShape'i de çok kullanmadım. Bu şekil de EdgeShape'e benzer ancak tıpkı bir zincir gibi, bağlantı noktalarından serbestçe oynayabilir. Olur da kullanırsam ya da talep olursa örnek ekleyebilirim.<br>
    <br>
    Cisimlerle ilgili anlatabileceklerim bu kadar. Bir sonraki anlatacağım adım en heyecanlı olan adım olan simülasyon.<br>
    <br>
    <b>Edit:</b> ChainShape'i biraz araştırdım ve yanlış anladığımı farkettim. ChainShape aslında EdgeShape'in köşelendirilebilen haliymiş. Yani static cisimler yerine yeryüzü oluşturmak için kullanılabilir.<br>
  </body>
</html>

Yazılma Tarihi: 2014-09-08 19:33:00
{% endblock %}