{% extends 'base.html' %} 
{% load staticfiles %} 
{% block base_content%} 
{% for result in results%}
<div class="entrytitle">
	<h1>
		<a href="{% url 'showEntry' result.url_name %}"> {{result.title}}</a>
	</h1>
	<br>

	<div class="entrysummary">{% autoescape off %}
		
	{{result.summary}}{% endautoescape %}</div>
</div>
<br>
{% endfor %} {% endblock %}
